/* Global Layout Set-up Styles for Tech Degree Portfolio Page
 * Setup by Umi Ikem on 17/02/2017
 */


/*************************
*** Structural Styles  ***
**************************/

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #222;
  background: #f7f5f0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}


/*************************
*****  Link Styles  ******
**************************/


a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}
/*************************
***  Section Styles   ****
**************************/

.logo {

  color:white;
  font-size:1.6rem;
  padding:0.6rem 0 0 1.1rem;
  margin:0;
  font-family: 'Sacramento', cursive;
  letter-spacing: 0.2rem;
}

.main-nav {
  width: 100%;
  background: #c70808;
  height: 85px;
  text-align: center;
  z-index:999999999;
}
.nav {
  display: flex;
  font-weight: 700;
  list-style-type: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
  justify-content: center;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 25px 10px 10px;
}
.nav a {
  color:white;
  transition: all .5s;
}

.nav a:hover {
  border:none;
}

header {
  text-align: center;
  background: url('../images/portfolio-bg.jpg') no-repeat top center ;
  background-size: cover;
  padding-top: 60px;
  background-position:0;
  max-height:500px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 1.5rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #dedede;
  transition: all .5s;
}

header .profile-image:hover {
  -webkit-animation: profile-image 1s ease;
  animation: profile-image 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.profile-content {
  margin-top:3rem;
}

/* Code for animation of profile image */


@keyframes profile-image
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* End of profile image animation */


.tag {
  color: white;
  padding: 10px;
  display: table;
  margin: 0.9rem auto;
  font-weight: bold;
} 
.location {
  background-color: rgba(34,34,34,0.3);
  color:#f6f4f4;

}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  z-index:9999999;
}
.card:hover {
  border-color: #c70808;
}

.card h2:before {
  content:"";
  display: inline-block;
  height:12px;
  width:12px;
  background-color:#c70808;
  margin-right:8px;
  border-radius:50%;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #3f3f3f;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: rgba(199,8,8,0.8);
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  font-size: .75em;
  margin:10px 0 0 0;
  color:#c70808;

}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(../images/twitter.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/*************************
***  Hobbies Styles   ****
**************************/

.hobbies {
  padding:0;
  margin-top:15px;
  display:flex;
}

.hobbies li {
  display:inline-block;
  margin-right:5px;
}

.hobbies li > img {
  max-width:100%;
  display:block;
}

  /*************************
  ** Experience Page Styles **
  **************************/


.experience {
  margin-top: 120px;
}

.projects {
  padding:0;
  margin-top:3.5rem;
}

.projects li {
  display: inline-block;
  margin-right:4.2rem;
}

.projects li:last-child {
  margin-right:0;
}


/*************************
** Contact Page Styles **
**************************/

.contact-card {
  margin-top:10rem;
}

.contact-map {
  height:360px;
  width:670px;
}

.social-links {
  list-style: none;
  padding:0;
}

.social-links li {
  display:inline-block;
  font-size:4rem;
  margin-right:0.5rem;
}

.fa-linkedin-square {
  color:rgb(0, 119, 181);
}

.fa-github-square {
  color:rgb(110, 84, 148);
}

.fa-twitter-square{
color:rgb(0, 172, 237);
 }



